.snackbar-wrapper {
  width: 566px;
  padding: 32px;
  top: 300px;
  position: relative;
  @media (min-width: 390px) and (max-width: 767px) {
    width: 260px;
  }
  .upper-container {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    .left-container {
      margin-right: 16px;
      @media (min-width: 390px) and (max-width: 767px) {
        display: none;
      }
      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 6px;
        background-color: #f1f4f7;
      }
    }
    .middle-container {
      margin-top: -6px;
      width: 85%;
      .title-error {
        margin-top: 4px;
        margin-bottom: 5px;
        padding: 0;
        color: #d3393a;
        line-height: 1.2;
        font-size: 18px;
      }
      .message-content {
        padding: 0;
        p {
          color: #202020;
          font-family: "Roboto", sans-serif;
        }
      }
    }
    .right-container {
      margin-top: -10px;
    }
  }
  .lower-container {
    text-align: center;
    padding: 0;
    @media (min-width: 390px) and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }
    .cancel-btn {
      background-color: #5b6770;
      width: 150px;
      height: 48px;
      font-size: 16px;
      text-transform: capitalize;
      margin-right: 16px;
      @media (min-width: 390px) and (max-width: 767px) {
        width: 262px;
        margin-right: 0;
      }
    }
  }
}
